
<section>
  <h1>Book Store Management App</h1>
  <button class="btn btn-primary" (click)="addBook()"> Add Book </button>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books | async">
            <th scope="row">{{ book.id }}</th>
            <td>{{ book.title }}</td>
            <td> {{ book.description}}</td>
            <td>
              <i class="bi bi-pencil-fill text-primary" (click)="updateBook(book)"></i>
              <i class="bi bi-trash3-fill text-danger" (click)="deleteBook(book.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    
</section>