section {
    width: 1250px;
    margin: auto;
    margin-top: 20px;
}

h1 {
    margin-bottom: 30px;
    text-decoration: underline;
}

table {
    margin-top: 20px;
    border: 1px solid black;
}

table thead {
    background-color: rgba(50, 50, 50, 0.6);
    color: white;
}

i{
    margin: 6px;
    cursor: pointer;
}