<section>
  <h1>Book Store Management App</h1>
  <button class="btn btn-primary"> Add Book </button>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books">
            <th scope="row">{{ book.id }}</th>
            <td>{{ book.title }}</td>
            <td> {{ book.description}}</td>
          </tr>
        </tbody>
      </table>
    
</section>